@import '../../styles/Responsive.scss';

.homeView {
    height: calc(100vh - 79.17px);
    justify-content: space-evenly;
    
    .banner {
        width: 80%;
        overflow: hidden;
        border-radius: 2rem;
        @include media(pc) {
            width: 40%;
        }
    }
    
    .entryItems {
        width: 94%;
        background-color: #5ea0f7;
        padding: 2rem 0.5rem;
        border-radius: 2rem;
        height: 15rem;

        @include media(pc) {
            width: 60%;
        }
    }

    >a {
        border-radius: 2rem;
        background-color: #7CB2F8;
        padding: 1rem 2rem;
        font-size: 1.1rem;
        font-weight: bold;
    }
}