@import '../../styles/Responsive.scss';

.homeView {
    height: 100%;
    
    
    .entryItems {
        background-color: #94b6ff;
        padding: 2rem 0.5rem;
        border-radius: 2rem;
        width: 94%;
        height: 15rem;

        @include media(pc) {
            width: 60%;
        }
    }

    >a {
        border: 1px solid blue;
        padding: 1rem 2rem;
    }
}