@import '../../styles/Responsive.scss';

.homeView {
    height: 100%;

    
    .entryItems {
        background-color: #ffffff;
        border-radius: 2rem;
        width: 80%;

        @include media(pc) {
            width: 80%;
        }
    }

    >a {
        border: 1px solid blue;
        padding: 1rem 2rem;
    }
}