@import '../../../styles/Responsive.scss';

.itemcard {
    button {
        width: 2rem;
    }
    
    .actions {

        button {
            width: 100%;
            padding: 0.4rem 0;
            display: flex;
            justify-content: center;

            background-color: #7CB2F8;
            font-weight: bold;

            img {
                width: 1.5rem;
            }
        }
    }
}