@import '../../../styles/Responsive.scss';

.itemcard {
    background-color: #ffffff;
    border-radius: 2rem;
    overflow: hidden;
//    width: 14rem;
//    height: 14rem;
    .itemDetails {

        .imgContainer {
            width: 5rem;
        }

        .test123 {
            width: 16rem;
        }
    }

    .actions {
        text-align: center;
        
        button {
            background-color: cadetblue;
            font-weight: bold;
        }
        
        .upBtn{

        }
        .btBtn{

        }

    }
}