@import '../../../styles/Responsive.scss';

nav {
    
    //background-color: ;
    padding: 1.4rem 1rem;
    background-color: #ffffff; //could be blue

    @include media(pc) {
        padding: 1.4rem 3rem;
    }

    .logo {

        a {
            width: 5rem;
            //height: fit-content;

            img {
                width: 100%;
            }
        }
    }

    .menu {
        width: 15rem;
        height: min-content;

        li {
            a{
                display: block;
                img {
                    width: 3rem;
                }
            }
        }

        #cartCounter {
            a{
                position: relative;
                span {
                    background-color: rgb(255, 162, 162);
                    
                    width: 2.2rem;
                    height: 2.2rem;
                    border-radius: 50%;
                    
                    position: absolute;
                    z-index: 2;
                    bottom: 18px;
                    left: 14px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}