.cartView {

    .partialPrice {
        margin: 1.2rem 0;

        button {
            width: 2rem;
        }
    }

    .productsCtn {
        //border: 1px solid red;
    
        width: 90%;
        grid-template: auto / 1fr;
        gap: 1rem;
    }
}